body {
      font-family: sans-serif;
      max-width: 600px;
      margin: 2rem auto;
      transition: background-color 0.3s;
    }

    h1.title-of-page {
      font-size: 2rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;

    }

    section {
      margin-bottom: 1.5rem;
    }

    label {
      display: block;
      margin-top: 0.5rem;
    }

    button {
      margin-top: 1rem;
    }

    .output {
      margin-top: 1rem;
      font-weight: bold;
    }

    .grooveborder {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      border: 10px groove white;
      padding: 5px;
    }

    nav :link {
      color: rgb(255, 0, 0);
    }

    nav :visited {
      color: rgb(255, 174, 0);
    }