#bigclick {
    width: 200px;
    height: 200px;
}
html {
    --text: #ffffff;
    --background: #000000;
    --primary: #000000;
    --secondary: #000000;
    --accent: #000000;
    --headings2: #48ff00;
    --lists: #ff0000;
}

body {
    color: var(--text);
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1.title-of-page {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

}

h2 {
    color: var(--headings2);
    border: 2px groove white;
    padding: 12px;
    width: 300px;
    height: 10px;
    margin: 2px;
}

.grooveborder {
    display:flex; 
    align-items:flex-start; 
    gap:20px; 
    border:10px 
    groove white; 
    padding:5px;
}

nav :link {
  color: rgb(255, 0, 0);
}

nav :visited {
  color: rgb(255, 174, 0);
}

div.border-between-balon-and-clicker {
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 10px 0;
}

#autoBuyCheckbutton {
  width: 30px;
  height: 30px;
}

div.clickerbordercss-selection {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  border: 10px groove white;
  padding: 20px;
}

#bigclick {
  padding: 0;
  border: none;
  background: none;
}

img.buttonimgselector {
  width: 250px;
  height: 250px;
}



