#bigclick {
    width: 200px;
    height: 200px;
}
html {
    --text: #ffffff;
    --background: #000000;
    --primary: #000000;
    --secondary: #000000;
    --accent: #000000;
    --headings2: #48ff00;
    --lists: #ff0000;
}

body {
    color: var(--text);
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--headings2);
    border: 2px groove white;
    padding: 12px;
    width: 300px;
    height: 10px;
    margin: 2px;
}

.grooveborder {
    display:flex; 
    align-items:flex-start; 
    gap:20px; 
    border:10px 
    groove white; 
    padding:5px;
}

nav :link {
  color: rgb(255, 0, 0);
}

