html {
    --text: #ffffff;
    --background: #000000;
    --primary: #000000;
    --secondary: #000000;
    --accent: #000000;
    --headings2: #48ff00;
    --lists: #ff0000;
}

body {
    color: var(--text);
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: serif;

}

h2 {
    color: var(--headings2);
    border: 2px groove white;
    padding: 12px;
    width: 300px;
    margin: 2px;
}

ol > li {
    color: var(--lists);
}

* {
   font-style: italic;
   font-size: 1em;
   font-weight: normal;
   font-family: sans-serif;
}

a[href="/class_links.html"] {
  color: rgb(255, 0, 0);
}

a[href="https://github.com/Cybersecramen"] {
  color: rgb(255, 0, 0);
}
